@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

*{
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(120deg, #f6d365, #fda085);
  background: -o-linear-gradient(120deg, #f6d365, #fda085);
  background: -moz-linear-gradient(120deg, #f6d365, #fda085);
  background: linear-gradient(120deg, #f6d365, #fda085);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
