.carousel-component{
    width: 460px;
    margin-top: 3rem;
    position: relative;
}

.carousel-header{
    background-color: #fff;
    height: 35px;
    width: 100%;
    line-height: 35px;
}

.carousel-component img{
    width: 100%;
    height: 259px;
}

.carousel-component button{
    width: 50px;
    height: 259px;
    position: absolute;
    bottom: 0;
    top: 35px;
    border: none;
    opacity: 0;
    outline: none;
    transition: 0.3s;
}

.carousel-component button:hover{
    opacity: 0.8;
}

.carousel-btn-left{
    left: 0;
}

.carousel-btn-right{
    right: 0;
}