.timepicker-component{
    position: relative;
    width: 460px;
    height: 115px;
    margin-top: 3rem;
}

.timepicker-container{
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: 35px 1fr;
    background-color: #fff;
    line-height: 35px;
}

.timepicker-control{
    background-color: #3f709e;
    color: #fff;
    line-height: 35px;
}

.hide{
    opacity: 0;
    visibility: hidden;
}

#timepicker-pick{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}

#timepicker-pick div {
    width: 100%;
    height: 35px;
}

#timepicker-pick ul{
    display: grid;
    grid-template-columns: 1fr 1rem 1fr 1rem 1fr;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#timepicker-pick ul li.picker{
    display: grid;
    grid-template-columns: 35px 1fr 35px;
}